.dvtName {
	text-decoration: underline;
}
/* .missingDays {
	background: red;
	color: white;
	border-radius: 50%;
	font-size: 0.8rem;
	font-weight: bold;
	display: flex;
	width: 1.3rem !important;
	height: 1.3rem !important;
	justify-content: center;
	align-items: center;
	text-decoration: none !important;
} */
.missingDays {
	background-color: red;
	color: white;
	border-radius: 50%;
	/* padding: 2px 6px; */
	width: 1.3rem !important;
	height: 1.3rem !important;
	font-size: 12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none !important;
}
